name: Docker (server)

on:
  push:
    branches: ["main"]
    paths:
      - server/**
  pull_request:
    branches: ["main"]
    paths:
      - server/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mkdir -p server/db/
      - run: make test
  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/base.yml
    with:
      service: server
      context: server/
